@page
@model Frontend.Pages.ListModel
@{
}

<h2>Listado Personas</h2>
<br>
<div>
    <a class="btn btn-outline-primary" asp-page="./Create">Nuevo usuario
    <i class="fas fa-user-plus"></i>
    </a> 
</div>
<br>
<table class="table">
    <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Edad</td>
            <td>Telefono</td>
            <td>Direccion</td>
            <td>Detalle</td>
            <td>Editar</td>
            <td>Borrar</td>
    </tr>
     @foreach (var persona in Model.Personas)
    {
        <tr>
            <td>@persona.id</td>
            <td>@persona.nombre</td>
            <td>@persona.edad</td>
            <td>@persona.telefono</td>
            <td>@persona.direccion</td>
            <td>
                <a class="btn btn-outline-primary" asp-page="./Details" asp-route-id="@persona.id">Info
                <i class='fas fa-book-reader' style='font-size:16px'></i> 
                </a> 

            </td>
             <td>
                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@persona.id">Edit
                <i class='fas fa-brush' style='font-size:16px'></i> 
                </a> 

            </td>
             <td>
                <a class="btn btn-outline-primary" asp-page="./Delete" asp-route-id="@persona.id">Delete
                <i class="fas fa-trash-alt" style="font-size:16px"></i> 
                </a> 

            </td>
        </tr> 
    }

</table>
